@font-face {
    font-family: 'Code New Roman';
    src: url(Code\ New\ Roman.otf);
  }
:root{
    --background : #161616;
    --fontcolor : #e0e0e0;
    --fontcolor2 : rgb(207, 205, 205);
    --font : font-family: 'Montserrat', sans-serif;
}
body{
    background-color: var(--background);
    color: var(--fontcolor);
    font-family: 'Code New Roman';
}
.prjects{
    margin-left: 20px;
    margin-top: 50px;
    font-size: 35px;
}
.projects{
    /* border: 1px solid white; */
    margin-left: 100px;
}
img {
    width: 90%;
    object-fit: contain;
    margin-top: 20px;
    /* margin-left: 100px; */
}
.project_title{
    font-size: 30px;
}